/**  Folha de estilo do site Que Delicia Receitas
@author Enzo Marcolino Lula de Oliveira
@link https://github.com/maarcolino/quedeliciareceitas **/

/* importar fontes */

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Kalam:wght@300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

/* variaveis globais */

:root {
    --cinzalayout: #525252;
    --brancolayout: #ffffff;
    --skyBlue: #87CEEB;
    --vermelhoLayout: #b22222;
    --BrancoLayout: #FFFFFF;
    --backgroundCard: #ffffff;
    --bordaLayout: #000;
    --laranjaLayout: #eb4f37;
}

/* CSS RESET*/
* {
    margin: 0;
    padding: 0;
    border: 0;

}

/* LAYOUT >>>>>>>>>>>>>>>>>>>>>>>>>>*/
html {
    scroll-behavior: smooth;
}


body {
    font-family: "Fredoka", "Kalam";
    font-size: 1em;
}

.Container {
    margin: 0 auto;
    padding: 10px 15px 50px 15px;
}

.Flex,
.FlexCard,
.FlexMenu,
.FlexSection {
    display: flex;
}

.Flex {
    flex-direction: column;
}

.FlexCard {
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.FlexMenu {
    justify-content: space-between;
}

.FlexSection {
    align-items: center;
}
/* Cartão */
.Card {
    margin-top: 30px;
    width: 250px;
    right: 100px;
    height: 350px;
    background-color: var(--backgroundCard);
    border: 2px solid var(--bordaLayout);
    border-radius: 15px;
    text-align: center;

}

.Card img {
    border-radius: 25px 25px 0px 0px;
}

.Card h3 {
    margin: 15px 30px 0px 30px;
}

.Card p {
    padding: 10px 15px 50px 15px;
    text-align: left;
}

.Button {
    text-decoration: none;
    background-color: var(--laranjaLayout);
    color: var(--BrancoLayout);
    padding: 4px 50px;
    border-radius: 25px;
    font-size: 1em;
    font-weight: normal;
}

/* Topo */
#topo {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

/* Smartphone portrait >>>>>>>>>>>>>>>>>>>>>>*/
/**************** Cabeçalho ****************/
header {
    height: 100px;
    background-color: var(--laranjaLayout);
}

#logo img {
    width: 200px;
    height: 80px;
}

#check {
    display: none;
}

label {
    color: rgba(0, 0, 0, 0.55);
    position: fixed;
    font-size: 3em;
    top: 20px;
    right: 25px;
}

nav ul {
    list-style: none;
    background-color: rgba(82, 82, 82, 0.96);
    height: 100vh;
    position: fixed;
    top: 100px;
    right: -60%;
    width: 60%;
    transition: all 0.3s;
}

/* ativar checkbox */
#check:checked~ul {
    right: 0px;
}

nav ul li {
    border-bottom: 0.5px solid var(--bordaLayout);
    text-align: right;
    padding: 15px;
}

nav ul li a {
    text-decoration: none;
    color: var(--brancolayout);
}

/*** banner ***/

main {
    background: url(./img/background.jpg);
    height: 50vh;
    background-size: cover;
    text-align: center;
}

main h1, h2 {
    font-family: "Fredoka";
    font-weight: 400;
    margin-bottom: 50px;
    text-align: center;
    color: var(--BrancoLayout)
}

/**************** Rodapé ****************/
/*FOOTER*/
footer {
    background-color: var(--laranjaLayout);
    color: var(--branco);
    text-align: center;
}

#social {
    margin-bottom: -25px;
}

#copyright {
    margin-top: 20px;
}


/* Smartphone landscape >>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 576px) {
    /* Cabeçalho */

    .Container {
        max-width: 540px;
        margin: 0 auto;
    }

    .Flex {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }

    .header {
        max-width: 540px;
        margin: 0 auto;

    }

    #logo img {
        width: 532px;
        height: 149px;
    }

    #logo h1 {
        color: var(--BrancoLayout);
    }

    .Flex {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }

    #social {
        margin: 0;
    }
}



/* Tablet portrait >>>>>>>>>>>>>>>>>>>>>>*/

@media (min-width: 768px) {

    /*Layout*/
    .Container {
        max-width: 720px;
    }

    /*Cabeçalho*/
    .header {
        max-width: 720px;
        height: 100px;
        background-color: lightsalmon;
    }

    #logo img {
        width: 200px;
        height: 80px;
        margin: 2px 0px 0px 40px;
    }

    /* Banner */
    main {
        background: url(./img/background.jpg);
        height: 50vh;
        background-size: cover;
        text-align: center;
    }
    }


    /* Tablet landscape >>>>>>>>>>>>>>>>>>>>>>*/

    @media (min-width: 992px) {
        .Container {
            max-width: 960px;
        }

        /*Cabeçalho*/
        .header {
            max-width: 992px;
        }
    }

    /* PCs ou notebooks HD >>>>>>>>>>>>>>>>>>>>>>*/

    @media (min-width: 1200px) {
        .Container {
            max-width: 1140px;
            padding: 0px 15px 50px 15px;
        }

        /*Cabeçalho*/
        .header {
            max-width: 1140px;
            height: 100px;
            background-color: lightsalmon;
        }

        #logo img {
            width: 200px;
            height: 70px;
            padding: 15px 15px 50px 15px;
        }


        label {
            display: none;
        }

        /*menu lateral */
        nav ul {
            background-color: rgba(82, 82, 82, 0.96);
            height: auto;
            position: static;
            width: 100%;
            margin-top: 25px;
        }

        nav ul li {
            border: 0;
            float: left;
        }

        /* Banner */
        main {
            background: url(./img/background.jpg);
            height: 50vh;
            background-size: cover;
            text-align: center;
        }

        main h1,h2 {
            font-family: "Fredoka";
            bottom: 200%;
            text-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
            color: var(--BrancoLayout)
        }
        
        
    }

    /* PCs TV notebooks Full HD +>>>>>>>>>>>>>>>>>>>>>>*/

    @media (min-width: 1400px) {}

    /*Cabeçalho*/
    .header {
        height: 100px;
        background-color: lightsalmon;
    }