/** 
Folha do estilo do site Que Delicia
@author Enzo Marcolino Lula de Oliveira
@link https://github.com/maarcolino/QueDeliciaReceitas
*/

/* Importar fontes */

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Kalam:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

/* variaveis globais */

:root {
    --cinzalayout: #525252;
    --brancolayout: #ffffff;
    --skyBlue: #87CEEB;
}

/* CSS REStesteET */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Layout */

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Fredoka", "Kalam";
    font-size: 1em;
}

.Container {
    margin: 0 auto;
    padding: 50px 15px 50px 15px;
}

.Flex,
.FlexMenu {
    display: flex;
    justify-content: space-between;
}

.Flex {
    flex-direction: column;
    text-align: center;
}

.Card {
    margin-top: 30px;
    width: 300px;
    height: 520px;
    background-color: var(--backgroundCard);
    border: 2px solid #000;
    border-radius: 25px;
    text-align: center;
}


/* Smartphone Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/****** CABEÇALHO *****/
header {
    height: 100.5;
    background-color: var(--cinzalayout);
}

#logo img {
    width: 100px;
    height: 100px;
    margin: 1px 0px 0px 0px;
}

#topo{
    position: fixed;
    width: 200px;
    padding: 30px;
    background-color: #000000;
    color: #ffffff;
    right: 0px;
    bottom: 0px;
}
/* Footer */
#footer {
    background-color: var(--cinzalayout);
    color: var(--cinzalayout);
}

#social {
    margin-top: 25px
}

/* Smartphone Landscape >>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 576px) {
    .Container {
        max-width: 540px;
    }

    .Flex {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: auto;
    }

    #social {
        margin: 0;
    }
}

/* Tablet Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 768px) {
    .Container {
        max-width: 720px;
        background-color: var(--cinzalayout);
    }
}

/* Tablet Landscape >>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 992px) {
    .Container {
        max-width: 960px;
        background-color: var(--cinzalayout);
    }
}

/* PCs ou notebooks HD >>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 1200px) {
    .Container {
        max-width: 1140px;
    }

    /*Cabeçalho*/
    .header {
        max-width: 1140px;
        height: 100px;
        background-color: var(--cinzalayout);
    }

    #logo img {
        width: 100px;
        height: 100px;
    }
}

/* PCs ou notebooks em FULL HD >>>>>>>>>>>>>>>>> */
@media (min-width: 1400px) {}

/*Cabeçalho*/
.header {
    height: 100px;
    background-color: lightsalmon;
}

#logo img {
    width: 100px;
    height: 100px;
}